<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>SearchBloodPressureServlet</servlet-name>
        <servlet-class>com.org.controller.SearchBloodPressureServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBloodPressureServlet</servlet-name>
        <servlet-class>com.org.controller.DeleteBloodPressureServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBloodPressureServlet</servlet-name>
        <servlet-class>com.org.controller.UpdateBloodPressureServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBloodPressureServlet</servlet-name>
        <servlet-class>com.org.controller.AddBloodPressureServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddHeartRateServlet</servlet-name>
        <servlet-class>com.org.controller.AddHeartRateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteHeartRateServlet</servlet-name>
        <servlet-class>com.org.controller.DeleteHeartRateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchHeartRateServlet</servlet-name>
        <servlet-class>com.org.controller.SearchHeartRateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateHeartRateServlet</servlet-name>
        <servlet-class>com.org.controller.UpdateHeartRateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddHeightServlet</servlet-name>
        <servlet-class>com.org.controller.AddHeightServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteHeightServlet</servlet-name>
        <servlet-class>com.org.controller.DeleteHeightServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchHeightServlet</servlet-name>
        <servlet-class>com.org.controller.SearchHeightServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateHeightServlet</servlet-name>
        <servlet-class>com.org.controller.UpdateHeightServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddWeightServlet</servlet-name>
        <servlet-class>com.org.controller.AddWeightServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteWeightServlet</servlet-name>
        <servlet-class>com.org.controller.DeleteWeightServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateWeightServlet</servlet-name>
        <servlet-class>com.org.controller.UpdateWeightServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchWeightServlet</servlet-name>
        <servlet-class>com.org.controller.SearchWeightServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStepsServlet</servlet-name>
        <servlet-class>com.org.controller.AddStepsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStepsServlet</servlet-name>
        <servlet-class>com.org.controller.DeleteStepsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStepsServlet</servlet-name>
        <servlet-class>com.org.controller.UpdateStepsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchStepsServlet</servlet-name>
        <servlet-class>com.org.controller.SearchStepsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBloodSugarServlet</servlet-name>
        <servlet-class>com.org.controller.AddBloodSugarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBloodSugarServlet</servlet-name>
        <servlet-class>com.org.controller.DeleteBloodSugarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBloodSugarServlet</servlet-name>
        <servlet-class>com.org.controller.UpdateBloodSugarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBloodSugarServlet</servlet-name>
        <servlet-class>com.org.controller.SearchBloodSugarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBloodOxygenServlet</servlet-name>
        <servlet-class>com.org.controller.AddBloodOxygenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBloodOxygenServlet</servlet-name>
        <servlet-class>com.org.controller.DeleteBloodOxygenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBloodOxygenServlet</servlet-name>
        <servlet-class>com.org.controller.UpdateBloodOxygenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBloodOxygenServlet</servlet-name>
        <servlet-class>com.org.controller.SearchBloodOxygenServlet</servlet-class>
    </servlet>
</web-app>